//fuentes
$fuente_principal: 'Montserrat', sans-serif;

//colores
$rojo: red;
$verde: #4cbbb3;
$rosa: #f53756;
$amarillo: #fef46d;
$negro: #000;
$blanco:#fff;


//tamaños media querys
$telefono : 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;
